.headerContainer {
  width: 100%;
  height: 5rem;
  background-color: var(--blue-craft);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--yellow-craft);

  position: fixed; 
  top: 0;           
  left: 0;
  z-index: 1000;
}

.headerContent {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    margin-left: 0;
  }

  h1{
    color: var(--yellow-craft);
  }

  form button {
    border: 0;
    background: transparent;
    color: var(--yellow-craft);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }
}
