.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--yellow-craft);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 400px;
}

.actionButton {
  display: block;
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--yellow-craft);
  color: var(--blue-rcraft);
  border: 2px solid var(--yellow-craft);
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s;
}

.actionButton:hover {
  background-color: var(--yellow-craft);
  color: var(--red-900);
  transform: scale(1.05);
}
