.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--blue-rcraft);
  max-width: 500px;
  margin: 2rem auto;
  border-radius: 1rem;
  border: 2px solid var(--yellow-craft);

  h1{
    color: var(--yellow-craft)
  }
}

.input {
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: var(--blue-rcraft);
    transition: border-color 0.3s;
    border: solid 2px var(--yellow-craft);
    color: var(--yellow-craft);
}

