.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px); // Ajuste conforme a altura do seu header
  padding: 2rem;
  background-color: var(--blue-rcraft);
}

.title {
  margin-bottom: 2rem;
  color: var(--yellow-craft);
  font-size: 2rem;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
}

.loginButton {
  padding: 1rem;
  background-color: var(--blue-rcraft);
  color: var(--yellow-craft);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: solid 2px var(--yellow-craft);

  &:hover {
    background-color: var(--yellow-craft);
    color: var(--blue-rcraft);
    scale: 1.05;
    transition: transform 0.1s;
  }
  
}